@import "tailwindcss";


*{
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  /* Dark green gradient */
background: black;
width: 100%;
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

