@import "tailwindcss";


*{
  box-sizing: border-box;
  
}

body {
  /* Dark green gradient */
background: linear-gradient(135deg, #064e3b, #047857, #10b981);
width: 100%;
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

